@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3eee4;
  --foreground: #2a241e;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
